
<div class="form-btn-panel">
  <button class="btn btn-default">New</button>
  <button class="btn btn-default">Delete</button>
  <button class="btn btn-default">Modify</button>
  <button class="btn btn-default">Save</button>
  <button class="btn btn-default">Cancel</button>
</div>

<form class="form-horizontal">
  <div class="form-group">
    <label for="schema" class="col-sm-2 control-label">
      Schema
    </label>
    <div class="col-sm-10">
      <input type="text" id="schema" class="form-control"/>
    </div>
  </div>

  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">
      Name
    </label>
    <div class="col-sm-10">
      <input type="text" id="name" class="form-control"/>
    </div>
  </div>

  <div class="form-group">
    <label for="storage" class="col-sm-2 control-label">
      Storage
    </label>
    <div class="col-sm-10">
      <input type="text" id="storage" class="form-control"/>
    </div>
  </div>

  <div class="form-group">
    <label for="unitprice" class="col-sm-2 control-label">
      Unit Price
    </label>
    <div class="col-sm-10">
      <input type="text" id="unitprice" class="form-control"/>
    </div>
  </div>
</form>