<div class="form-btn-panel">
  <button class="btn btn-default">New</button>
  <button class="btn btn-default">Delete</button>
  <button class="btn btn-default">Modify</button>
  <button class="btn btn-default">Save</button>
  <button class="btn btn-default">Cancel</button>
</div>

<form class="form-horizontal">
  <div class="form-group">
    <label for="schema" class="col-sm-2 control-label">
      Schema
    </label>
    <div class="col-sm-10">
      <input type="text" id="schema" class="form-control"/>
    </div>
  </div>

  <div class="form-group">
    <label for="orderdate" class="col-sm-2 control-label">
      OrderDate
    </label>
    <div class="col-sm-10">
      <input type="text" id="orderdate" class="form-control"/>
    </div>
  </div>

  <div class="form-group">
    <label for="amount" class="col-sm-2 control-label">
      Amount
    </label>
    <div class="col-sm-10">
      <input type="text" id="amount" class="form-control"/>
    </div>
  </div>
</form>