<div class="frameset-list">
  <h3>Order List Page</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Schema</th>
        <th>OrderDate</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>OR20170801001</td>
        <td>2017/08/01</td>
        <td>1999</td>
      </tr>
      <tr>
        <td>OR20170715001</td>
        <td>2017/07/15</td>
        <td>950</td>
      </tr>
      <tr>
        <td>OR20170715002</td>
        <td>2017/07/15</td>
        <td>1500</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="frameset-detail">
  <app-order-detail></app-order-detail>
</div>