<div class="form-btn-panel">
  <button class="btn btn-default">New</button>
  <button class="btn btn-default">Delete</button>
  <button class="btn btn-default">Modify</button>
  <button class="btn btn-default">Save</button>
  <button class="btn btn-default">Cancel</button>
</div>

<form class="form-horizontal">
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">
      email
    </label>
    <div class="col-sm-10">
      <input type="text" id="email" class="form-control"/>
    </div>
  </div>

  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">
      Name
    </label>
    <div class="col-sm-10">
      <input type="text" id="name" class="form-control"/>
    </div>
  </div>

  <div class="form-group">
    <label for="bonus" class="col-sm-2 control-label">
      Bonus
    </label>
    <div class="col-sm-10">
      <input type="text" id="bonus" class="form-control"/>
    </div>
  </div>
</form>