<div class="frameset-list">
  <h3>Product List Page</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Schema</th>
        <th>Name</th>
        <th>Storage</th>
        <th>UnitPrice</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>B-446723</td>
        <td>Microsoft Lumia 950</td>
        <td>1</td>
        <td>21900</td>
      </tr>
      <tr>
        <td>A-551723</td>
        <td>iPhone 7</td>
        <td>1</td>
        <td>28900</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="frameset-detail">
  <app-product-detail></app-product-detail>
</div>