<div class="frameset-list">
  <h3>Member List Page</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Bonus</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>user@txstudio.com</td>
        <td>user</td>
        <td>10</td>
      </tr>
      <tr>
        <td>user2@txstudio.com</td>
        <td>user2</td>
        <td>15</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="frameset-detail">
  <app-member-detail></app-member-detail>
</div>